*{
    box-sizing: border-box;
    font-family:sans-serif;
    background-color: #cccccc;
}
/*general styling*/
header{
    background-color: #120323;
}

h1{
    color: #97bf04;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #d9043d;
}

 footer{
    background-color: #d9043d;
    text-align: center;
}


figure img{
    border-bottom: #97bf04 10px solid;
    width: 100%;
    max-width: 650px auto;
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
}
.gallery img{
width: 100%;
max-width: 650px;
display: block;
margin: 0 auto;
}
/*devices greater than 1000px */

@media screen and (min-width: 1000px) {
    #gallery-container{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }

    figure:last-child{
        grid-column: span 2;
    }


}

/*devices less than 1000px wide*/
 @media screen and (max-width: 1000px){
    #gallery-container{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
    }
    figure:last-child{
        grid-column: span 2;
    }
 }

 /*for less than 768px wide*/ 
 @media screen and (max-width){
    #gallery-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    figure:last-child{
        grid-column: span 1;
    }
     nav{
        background-color: #d9043d;
        max-width: 95%;
     }
     nav ul{
        width: 95%;
     }
     header ul li a{
        border: #97bf04 3px solid;
     }
 }